h1{
    color: rgb(39, 34, 28);
}
.image-profile {
    flex: 0.5;
    border: 2px solid black;
    max-width: 175px;
    max-height: 200px;
}
.avatar{
    height: 100%;
}
.avt-item{
    width: 100%;
    height: 100%;
    background-image: url("../../../asset/image/no-avt.jpg") ;
    background-size: 175px 200px;
}
img{
    
}
.profile {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 80vh;
    background-color: transparent;
    flex-wrap: wrap;
}

.main-profile-item {
    padding-top: 10px;
}

.main-profile {
    padding: 15px 50px;
    height: 40vh;
}

.title-item {
    font-weight: 500;
}

.profile-company {
    padding: 15px 50px;
    height: 40vh;
}

.profile-company-item {
    padding-top: 10px;
}