body {
    background-image: url('../../../../asset/image/bg.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    height: 30rem;
    width: 30rem;
    margin: auto;
}

#username,
#password {
    min-width: 100px;
    width: 200px;
    height: 50px;
    border-radius: 3rem;
    padding: 20px;
    border: 1px solid rgb(253, 253, 253);
}
.btn{
    width: 280px;
    height: 50px;
    border-radius: 3rem;
    background-color: bisque;
}
input {
    background-color: #d4bcbc;
    overflow: visible;
    transition: 0.3s;
    background: transparent;
    outline: none;
    color: white;
}

form {
    min-width: 40wh;
    width: 20rem;
    display: flex;
    flex-direction: column;

}

h1 {
    text-align: center;
    color: rgba(255, 255, 255);
    font-size: 50px;
}

input::placeholder {
    color: aliceblue;
    /* padding-left:15px ; */
}

label {
    color: aliceblue;
}

.control {
    padding: 5px;
}