.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
    
  }
  .radio{
    display: flex;
    flex-direction: row;
    width: 10rem;
    align-items: center;
    justify-content: space-around;
  }
  .modal-wrapper {
    position: fixed;
    top: 200px;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    
  }
  
  .modal {
    z-index: 100;
    background: rgb(250, 244, 244);
    position: relative;
    margin: 1.75rem ;
    border-radius: 3px;
    max-width: 95%;
    min-height: 50%;
    padding: 2rem;

  }
  
  .modal-header {
    display: flex;
    justify-content: flex-end;
  }
  .modal-close-button{
    width: 30px;
    height: 30px;
    border-radius: 2rem;
    background-color: rgb(250, 177, 177);
  }
