.list-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-width: 90%;
    padding: 2rem;
}
.selected-input{
    padding-bottom: 1rem;
}
.radio{
    width: 10rem;
}
.container{
    line-height: 1rem;
    height: 100%;
    width: 100%;
}
.btn-submit{
    padding: 10px;
    border-radius: 2rem;
    background-color: rgb(182, 248, 185);
    
}
.btn-container{
    display: flex;
    justify-content: center;
}
input{
    width: 1.5rem;
    accent-color: rgb(248, 51, 143);
    height: 1.5rem;
    
}
.radio-item{
    display: flex;
    flex-direction: row;
    width: 10rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}
label{
    color: black;
}